Repository LittleTealeaf/JavaMarkdown, changes with the labels that .github/labeler.yml gives for each.
All labels: source, tests, github, documentation, website

Added "throws" tag
  src/main/java/org/tealeaf/javamarkdown/MarkdownElement.java
Labels: source

deploy: f2446e705879eaa5fcb76b12ff11adb57c4465fc
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/member-search-index.js
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

Removed `See` tags from `MarkdownElement`
  src/main/java/org/tealeaf/javamarkdown/MarkdownElement.java
Labels: source

Fix Typo in `MarkdownElement` Fixes #260
  src/main/java/org/tealeaf/javamarkdown/MarkdownElement.java
Labels: source

deploy: 8b5d4ee0f5989070c4e585977a20e88c7fc4d928
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

Fix typo in `Image.asString()`
  src/main/java/org/tealeaf/javamarkdown/elements/Image.java
Labels: source

Optimize `MarkdownWriter.appendMarkdownElement()`
  src/main/java/org/tealeaf/javamarkdown/MarkdownWriter.java
Labels: source

deploy: 36fe1edd5ebd0637169e1e41d42c04d5514174d2
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

deploy: 610923a25d2c37aaa164b25c8b3cc77bf6f0ac29
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

deploy: e3b72498b9b79abad8ef27091ea35e575360f55d
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

deploy: d33b3a6bd5e771b73a370b47a9e6129d9d68ee50
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

deploy: 9878ca2fcd8583d410bf760402d8cc5783203a80
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

deploy: 22d459d5ba8082327ef934183d162c52ccca503c
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

deploy: 4c3ebfe6ccc38a21a13cd7a89b898f9cb425fd2c
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

deploy: cd3c5e4f72f5a7133902d0e6db658378ff8c7444
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

deploy: 0e39363809d82e010543aed8c1ab39326b83d0ec
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

Updates are now on a monthly schedule
  .github/dependabot.yml
Labels: github

deploy: 9fbed5f06fc3399ab5b2834a9b75ec806722d80d
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

Added settings and tags to gitignore
  .gitignore
Labels: none

Minor changes for using nvim
  .gitignore
  .idea/codeStyles/Project.xml
Labels: none

Changed to a monthly update release schedule
  .github/workflows/release.yml
Labels: github

deploy: e24c28d487362e739ca32fc7ddba1a4fce2155cb
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

deploy: 65fd55eef13eda6b030159d7fbb1fc33ecfe17d5
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

deploy: 3a5aaa60f35d877bfb2bd400640f740dffb8d752
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

deploy: 6ffeae6139cfee022922568e3a905677374f0b37
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

deploy: a497a7d4ef78023faf7464ba371fc2ec26681280
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

.github/labeler.yml:

source:
  - 'src/main/**/*'

tests:
  - 'src/test/**/*'

github:
  - '.github/**/*'

documentation:
  - '**/*.md'

website:
  - 'docs/**/*'
