Repository LittleTealeaf/JavaMarkdown, changes with the labels that .github/labeler.yml gives for each.
All labels: source, tests, github, documentation, website

Formatted Docs Files
  docs/scripts/title.js
  docs/style.css
Labels: website

Add Missing Tests for `ListStructure` Fixes #116
  src/test/java/org/tealeaf/javamarkdown/types/ListStructureTest.java
Labels: tests

Javadocs: `Strikethrough` Fixes #33
  src/main/java/org/tealeaf/javamarkdown/elements/Strikethrough.java
Labels: source

Removed Comment
  src/main/java/org/tealeaf/javamarkdown/elements/Strikethrough.java
Labels: source

Javadocs: `Italic` Fixes #34
  src/main/java/org/tealeaf/javamarkdown/elements/Italic.java
Labels: source

Javadocs: `MarkdownBuffer` Fixes #112
  src/main/java/org/tealeaf/javamarkdown/MarkdownBuffer.java
Labels: source

Added base info
  src/main/java/org/tealeaf/javamarkdown/MarkdownBuffer.java
Labels: source

Javadocs: `Link` Fixes #40
  src/main/java/org/tealeaf/javamarkdown/elements/Link.java
Labels: source

Remove Commented Code in `Markup.java` and `MarkdownWriter` Fixes #190
  src/main/java/org/tealeaf/javamarkdown/MarkdownWriter.java
  src/main/java/org/tealeaf/javamarkdown/types/Markup.java
Labels: source

Javadocs: `Image` Fixes #39
  src/main/java/org/tealeaf/javamarkdown/elements/Image.java
Labels: source

Optimize Link `asString()` Fixes #189
  src/main/java/org/tealeaf/javamarkdown/elements/Link.java
Labels: source

Set `requiresNewlineBefore` and `requiresNewlineAfter` in Structure.java Fixes #193
  src/main/java/org/tealeaf/javamarkdown/elements/CodeBlock.java
  src/main/java/org/tealeaf/javamarkdown/elements/Header.java
  src/main/java/org/tealeaf/javamarkdown/elements/Table.java
  src/main/java/org/tealeaf/javamarkdown/types/Structure.java
Labels: source

Specify `requiresNewLineBefore` and `requiresNewLineAfter` in `InlineElement.java` Fixes #197
  src/main/java/org/tealeaf/javamarkdown/elements/Link.java
  src/main/java/org/tealeaf/javamarkdown/types/InlineElement.java
  src/main/java/org/tealeaf/javamarkdown/types/Markup.java
Labels: source

Javadocs: `ListStructure` Fixes #195
  src/main/java/org/tealeaf/javamarkdown/types/ListStructure.java
Labels: source

Added Since tag
  src/main/java/org/tealeaf/javamarkdown/types/ListStructure.java
Labels: source

Change Gradle Dependabot Updates to Weekly
  .github/dependabot.yml
Labels: github

Update gradle.yml
  .github/workflows/gradle.yml
Labels: github

Add Initial `since` tags to `MarkdownCompiler` Fixes #221
  src/main/java/org/tealeaf/javamarkdown/MarkdownCompiler.java
Labels: source

Allow passing images as contents of links Fixes #217
  src/main/java/org/tealeaf/javamarkdown/elements/Link.java
  src/test/java/org/tealeaf/javamarkdown/elements/LinkTest.java
Labels: source, tests

Added Author Tags to Javadocs Website Fixes #219
  build.gradle
Labels: none

changes
  javadocs.css
  javadocs.new.css
Labels: none

Missing `<T>` parameter for `MarkdownElement.toWriter()` Javadoc Fixes #229
  src/main/java/org/tealeaf/javamarkdown/MarkdownElement.java
Labels: source

Added Javadoc to Inlineelement Fixes #187
  src/main/java/org/tealeaf/javamarkdown/types/InlineElement.java
Labels: source

Fix Javadoc Wording in InlineElement Fixes #216
  src/main/java/org/tealeaf/javamarkdown/types/InlineElement.java
Labels: source

Made alignment variable private in Table.Alignment Fixes #228
  src/main/java/org/tealeaf/javamarkdown/elements/Table.java
Labels: source

Javadoc: `Table.Alignment` individual values Fixes #222
  src/main/java/org/tealeaf/javamarkdown/elements/Table.java
Labels: source

deploy: e11f35ff1c384736b4dcb9d8b94d11f4b9ee4e8a
  javadoc/allclasses-index.html
  javadoc/allpackages-index.html
  javadoc/help-doc.html
  javadoc/index-all.html
  javadoc/index.html
  javadoc/member-search-index.js
  javadoc/org/tealeaf/javamarkdown/MarkdownBuffer.html
  javadoc/org/tealeaf/javamarkdown/MarkdownCompiler.html
  javadoc/org/tealeaf/javamarkdown/MarkdownElement.html
  javadoc/org/tealeaf/javamarkdown/MarkdownWriter.html
  javadoc/org/tealeaf/javamarkdown/elements/Bold.html
  javadoc/org/tealeaf/javamarkdown/elements/BulletList.html
  javadoc/org/tealeaf/javamarkdown/elements/Code.html
  javadoc/org/tealeaf/javamarkdown/elements/CodeBlock.html
  javadoc/org/tealeaf/javamarkdown/elements/Header.html
  javadoc/org/tealeaf/javamarkdown/elements/Image.html
  javadoc/org/tealeaf/javamarkdown/elements/Italic.html
  javadoc/org/tealeaf/javamarkdown/elements/Link.html
  javadoc/org/tealeaf/javamarkdown/elements/NumberedList.html
  javadoc/org/tealeaf/javamarkdown/elements/Strikethrough.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.Alignment.html
  javadoc/org/tealeaf/javamarkdown/elements/Table.html
  javadoc/org/tealeaf/javamarkdown/elements/package-summary.html
  javadoc/org/tealeaf/javamarkdown/elements/package-tree.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalAlignmentCountException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalContentsException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/IllegalHeaderLevelException.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-summary.html
  javadoc/org/tealeaf/javamarkdown/exceptions/package-tree.html
  javadoc/org/tealeaf/javamarkdown/package-summary.html
  javadoc/org/tealeaf/javamarkdown/package-tree.html
  javadoc/org/tealeaf/javamarkdown/types/InlineElement.html
  javadoc/org/tealeaf/javamarkdown/types/ListStructure.html
  javadoc/org/tealeaf/javamarkdown/types/Markup.html
  javadoc/org/tealeaf/javamarkdown/types/Structure.html
  javadoc/org/tealeaf/javamarkdown/types/package-summary.html
  javadoc/org/tealeaf/javamarkdown/types/package-tree.html
  javadoc/overview-summary.html
  javadoc/overview-tree.html
  javadoc/serialized-form.html
Labels: none

Updated Tests
  src/test/java/org/tealeaf/javamarkdown/MarkdownWriterTest.java
Labels: tests

Javadocs: `MarkdownCompiler` for `Code` methods Fixes #126
  src/main/java/org/tealeaf/javamarkdown/MarkdownCompiler.java
Labels: source

Javadocs: `MarkdownCompiler` for `Italic` method Fixes #131
  src/main/java/org/tealeaf/javamarkdown/MarkdownCompiler.java
Labels: source

Added missing parameter tag
  src/main/java/org/tealeaf/javamarkdown/MarkdownCompiler.java
Labels: source

Fix italics
  src/main/java/org/tealeaf/javamarkdown/MarkdownCompiler.java
Labels: source

Javadocs: `MarkdownCompiler` for `Strikethrough` method Fixes #130
  src/main/java/org/tealeaf/javamarkdown/MarkdownCompiler.java
Labels: source

Add ability to make asString() insert new line before and after Fixes #194
  src/main/java/org/tealeaf/javamarkdown/MarkdownElement.java
Labels: source

Added Tests
  src/test/java/org/tealeaf/javamarkdown/MarkdownElementTest.java
Labels: tests

Javadocs: `MarkdownCompiler` for `CodeBlock` methods Fixes #127
  src/main/java/org/tealeaf/javamarkdown/MarkdownCompiler.java
Labels: source

Add toAppendable()
  src/main/java/org/tealeaf/javamarkdown/MarkdownElement.java
Labels: source

Added "throws IOException"
  src/main/java/org/tealeaf/javamarkdown/MarkdownElement.java
Labels: source

used in
  src/main/java/org/tealeaf/javamarkdown/MarkdownElement.java
Labels: source

Added Tests
  src/test/java/org/tealeaf/javamarkdown/MarkdownElementTest.java
Labels: tests

.github/labeler.yml:

source:
  - 'src/main/**/*'

tests:
  - 'src/test/**/*'

github:
  - '.github/**/*'

documentation:
  - '**/*.md'

website:
  - 'docs/**/*'
